<div id="productModal" class="product-modal">
  <div class="modal-content">
    <span class="close-btn" id="closeModal">&times;</span>
    <div id="modalContent">
      <h3>{{ product.title }}</h3>
      <p>{{ product.description }}</p>
      <p>{{ product.price | money }}</p>
    <!-- Other modal content goes here -->
    </div>
  </div>
</div>