img {
    max-width: 100%;
    height: auto;
}

.myherofooter button,
.myherofooter input,
.myherofooter optgroup,
.myherofooter select,
.myherofooter textarea {
    margin: 0;
    padding: 0;
}

.myherofooter h1,
.myherofooter h2,
.myherofooter h3,
.myherofooter h4,
.myherofooter h5,
.myherofooter h6,
.myherofooter hr,
.myherofooter p {
    margin: 0;
}

.myherofooter {

    [type="text"],
    input:where(:not([type])),
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple] {
        appearance: none;
        background-color: transparent;
        border-color: unset;
        border-width: 0;
        border-radius: unset;
        padding: unset;
        font-size: unset;
        line-height: unset;
        color: inherit;
    }

    input:focus-visible,
    [multiple]:focus-visible,
    textarea:focus-visible,
    select:focus-visible {
        outline: none;
        box-shadow: none;
    }
}

:root {
    --black_900: #000000;
    --black_900_33: #00000033;
    --blue_gray_900: #333333;
    --gray_50: #f8f8f8;
    --white_a700: #ffffff;
    --shadow-xs: 0 2px 4px 0 #00000033;
    --space-xs: 2px;
}

.product-details .flex-row-center-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-details {
    background-color: var(--white_a700);
    box-shadow: var(--shadow-xs);
    width: 311px;
    height: 447px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 12px 14px;
}

.product-details .product-details__image {
    height: 16px;
}

.product-details .product-details__description {
    margin-top: 6px;
    margin-right: 4px;
    align-self: stretch;
}

.product-details .description__image-text-wrapper {
    gap: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.product-details .image-text-wrapper__image {
    height: 140px;
    margin-bottom: 4px;
    width: 44%;
    object-fit: contain;
}

.product-details .image-text-wrapper__text {
    gap: 10px;
    align-self: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.product-details .text__title {
    color: var(--black_900) !important;
    font-size: 16px;
    font-weight: 300;
}

.product-details .text__price {
    color: var(--black_900) !important;
    font-size: 16px;
    font-weight: 400;
}

.product-details .text__description {
    color: var(--black_900) !important;
    letter-spacing: -0.14px;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    line-height: 110%;
}

.product-details .product-details__color-selection {
    margin-left: 4px;
    margin-right: 4px;
    gap: var(--space-xs);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
}

.product-details .color-selection__options {
    gap: 9px;
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    border: 0.5px solid var(--black_900);
}

.product-details .options__white {
    align-self: center;
    width: 52%;
    display: flex;
    align-items: center;
}

.product-details .white__line-text-wrapper {
    gap: 11px;
    flex: 1;
    display: flex;
    align-items: center;
}

.product-details .line-text-wrapper__line {
    height: 40px;
    background-color: var(--white_a700);
    width: 4px;
    border: 5.81px solid var(--black_900);
}

.product-details .options__line {
    height: 38px;
    background-color: var(--black_900);
    width: 4px;
    border: 4.84px solid var(--black_900);
}

.product-details .product-details__size-selection {
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    gap: var(--space-xs);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
}

.product-details .size-selection__dropdown {
    color: var(--black_900);
    letter-spacing: -0.32px;
    font-size: 16px;
    gap: 16px;
    display: flex;
    align-self: stretch;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: calc(100% - 20px);
    padding: 6px 20px 6px 12px;
    border: 0.5px solid var(--black_900);
}

.product-details .product-details__add-to-cart {
    color: var(--white_a700);
    padding-left: 34px;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 16px;
    gap: 28px;
    background-color: var(--black_900);
    align-self: stretch;
    text-align: center;
    height: 44px;
    margin: 50px 4px 12px 4px;

    @media only screen and (max-width: 550px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.product-details .right-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 1px;
}

.product-details .line-15 {
    height: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 32px;
    object-fit: contain;
}

.product-details .options__black {
    color: var(--black_900) !important;
    letter-spacing: -0.36px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
}

.product-details .color-selection__title {
    color: var(--blue_gray_900) !important;
    font-size: 14px;
    font-weight: 400;
}